<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-icons.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>
        <%= title %>
    </title>
</head>