<header>
    <div>
        <div class="user">
            <% if (locals.user) { %>
                connecté en tant que:
                <strong>
                    <%= locals.user.email %>
                </strong>
                <a href="/logout">Logout</a>
                <% } %>

        </div>
        <h1>⬆️File Uploader</h1>

    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (locals.user) { %>
                <li><a href="/folders">Folders</a></li>
                <% } %>
        </ul>
    </nav>
    <hr>
</header>