<%- include('./partials/head') %>

    <body class="d-flex flex-column min-vh-100">
        <%- include('./partials/header') %>
            <main class="flex-fill d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-1">404</h1>
                <p class="lead">Page Not Found</p>
                <a href="/" class="btn btn-primary">Go to Home</a>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>