.user {
    float: right;
}

.folder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-header div {
    padding-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

label {
    display: block;
}